* { box-sizing: border-box; }
/*html, body, #app { height: 100%; margin: 0; padding: 0; }*/
#app {
  border: 20px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
body,
textarea
{ font-size: 18px; font-family: -system, sans-serif; }
h1{font-size:36px; margin: 0;padding:0}
h2{margin:0}
section{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 20px;
}

textarea {
  font-family: 'Fira Code', 'Fira Mono', monospace;
  flex-grow: 2;
  margin: 0;
  border: none;
  background-color: aliceblue;
  padding: 8px;
  height: 100px;
}
#code {
}
#pretty-representation {
  font-weight: 600;
}
label{
  background-color: aliceblue;
  padding: 8px;
}

@media screen and (min-width: 1200px) {
  #app {
    flex-direction: row;
    align-items: flex-start;
  }
  .column {
    margin: 8px;
    flex-basis: 50%;
  }
  textarea {
    height: 150px;
  }
}

