* {
  box-sizing: border-box;
}

html, body { height: 100%; margin: 0; padding: 0; }
#app {
  max-height: 100%;
  border: 20px solid white;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-wrap: wrap;
}

#app > * {
  width: 600px;
}

body {
  font-family: -apple-system, -system, sans-serif;
}

body,
textarea {
  font-size: 18px;
  line-height: 24px;
}

h2 {
  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 20px;
}

textarea {
  font-family: 'Fira Code', 'Fira Mono', monospace;
  flex-grow: 2;
  margin: 0;
  border: none;
  background-color: hsl(48, 100%, 95%);
  padding: 8px;
  height: 100px;
}

.example {
  height: 150px;
}

code {
  font-family: 'Fira Code', 'Fira Mono', monospace;
}

#code {
}

#pretty-representation {
  font-weight: 600;
}

label {
  background-color: hsl(48, 100%, 95%);
  padding: 8px;
}

@media screen and (max-width: 1200px) {
  #app {
    flex-direction: row;
  }
}

header {
  display: flex;
  align-items: baseline;
  margin-bottom: 8px;
}

h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  display: inline;
  line-height: 36px;
  color: deeppink;
}

a {
  text-decoration: none;
  color: deeppink;
}

nav {
  margin-left: 16px;
}

nav a {
  text-decoration: none;
  background-color: aliceblue;
  border-radius: 4px;
  color: darkblue;
  font-size: 16px;
  display: inline-block;
  padding: 4px 8px;
  margin: 0;
  margin-bottom: 8px;
}

nav a.here {
  background-color: cornsilk;
}
